*.so
*.o
*_wrapper.c
__pycache__/
*.pyc
.ci_venv/
*.egg-info/
ci_all.log
tests/*testdata.h5
tests/sparsetest_dot.h5
venv/
venv-*
build/
dist/
.pytest_cache/
# Tracked in lib/interface/ as generated-but-committed
!lib/interface/_cImageD11.c2py
!lib/interface/_cImageD11_wrapper.c
*.h5
*.lprof
multi_bslz4.md
examples/multi_chunk_bslz4/*.h5
*.npz
