include setup.py
include pyproject.toml

# Lib: meson build + generated interface
graft lib/src
graft lib/interface
include lib/meson.build
global-exclude __pycache__/
global-exclude *.pyc

# Python package
include c2ImageD11/*.py

# Tests
include tests/*.py
include tests/conftest.py

# Tools
include tools/harvester.py
include tools/strip_c2py.py

# CI
include .github/workflows/*.yml
include .githooks/pre-push
